#login-form label{
    font-size:1.8rem;
    width:25%;
}
#login-form input[type=text],#login-form input[type=email],#login-form input[type=password]  {
    font-size:1.8rem;
    background-color:#eee;
    width:70%;
}
#register-area{
    display: none;
}
.login-panel{
    border-radius:10px;
    border-color:#6d94b4;
    width: 55vw;
    margin: 25px auto 0;
}
.login-panel .panel-heading,.login-button{
    background-color:#6d94b4;
    color:white;
    text-transform: uppercase;
    border-radius:10px;
    border:none;
    font-size:2rem !important;
}
.login-button{
    display: inline-block;
    padding:5px 40px;
    vertical-align:middle;
    text-align: center;
    font-weight:bold;
    margin : 0 auto;
    margin: 4px;
}
.button-group{
    display : table;
    margin : 0 auto;

}
.login-header{
    height: 20vh;
}
.login-header .logo{
    margin-left:45%;
}
.login-page-container{
    background-color: #ddd;
    height:80vh;
    border-top: solid 1px #6d94b4;
    position: relative;
}
.login-panel .panel-heading{
    margin: 5px;
}
.login-legend {
    color:#6d94b4;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.login-legend .title{
    font-size: 6rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin:0 10px;
}
.login-legend .subtitle{
    font-size: 4rem;
    text-transform: uppercase;
}
.legend {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 2.1rem;
    color:#6d94b4;
}
#gdpr{
    font-size: 1.2rem;
    margin:15px 0;
}
