body{
    overflow-x: hidden;

}
h2 {
    text-align: center;
}
#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
}
.cloud-container a {
    color:whitesmoke;
}
.provider-name{
    font-size: 1.5em;
    text-transform: uppercase;
}
.print-btn{
    background-color: #aaa;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.8rem;
    float: left;
    color:white;
}
.cloud-container {
    background-color: #6d94b4 ;
    color:white ;
}
.minimum-price{
    color:green !important;
}
.cloud-container .footer{
    margin-left:5px;
}
.cloud-price{
    font-size: 1.2em;
    padding:10px;
    background-color: whitesmoke;
    color:black;
    border-radius: 8px;
    text-align: center;
}
/*.vcpu-count-container{
    float:right;
}*/
.stripped-separator{
    margin:10px 0;
    margin-left: 0;
    width:110%;
    background: repeating-linear-gradient(
      -45deg,
      #fff,
      #fff 3px,
      rgb(200, 200, 200) 3px,
      rgb(200, 200, 200) 6px
   );
   /* background:-webkit-repeating-linear-gradient(-45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 2%, rgb(96, 96, 96) 2%, rgb(96, 96, 96) 4%);
   background:-o-repeating-linear-gradient(-45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 2%, rgb(96, 96, 96) 2%, rgb(96, 96, 96) 4%);
   background:-moz-repeating-linear-gradient(-45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 2%, rgb(96, 96, 96) 2%, rgb(96, 96, 96) 4%);
   background:repeating-linear-gradient(-45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 2%, rgb(96, 96, 96) 2%, rgb(96, 96, 96) 4%); */
   border-radius: 4px;
}
#cloud-cpu-count{
    margin-right: 5px;
    font-size: 1.2em;
}
.darkBlue{
    background:#0A475C;
}
.green{
    background:#6ED14D;
}
.orange{
    background:#F27349;
}
.report-title{
  margin-left: 40px;
  color:#6d94b4;
  font-weight: bold;
  font-size: 6rem;
}
.instance-name{
    font-size: 0.8em;
    font-style: oblique;
}
@media screen and (min-width: 1200px){
  .report-core{
    margin-left: 15%;
  }
}
.report-core{
  background-color: #ededed;
}
.information-table{
    overflow: auto;
    width:100%;
}
.warn{
    color:#F27349;
}
.slider-tooltip {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    top: -55px ;
    left: -55px ;
    position: absolute;
    z-index: 1;
}

#information-banner .panel-heading, .cloud-container .panel-heading{
  background-color: #6d94b4;
  font-size: 2.2rem;
}
#information-banner .panel-body .information{
  font-size: 1.8rem;
  padding-top: 5px;
}
#information-banner , .cloud-container{
    height: 18.5em;
}
.panel-heading{
    background-color: #6d94b4 !important;
    background-image: none !important;
}
.cloud-container .panel-heading{
    background-color: whitesmoke !important;
    background-image: none;
    color: black;
}

.cpu-infos{
    font-size: 0.8em;
    color: #0A475C;
}