.ui-selectmenu-button, .expended{
    width: 100%!important;
}
.header{
    height: 20vh;
}
.header .logo{
  
    margin-left:45%;
}
legend {
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    color:#2ea3f2;
}
#select-report-form .form-box-container{
  width:85vw;
}
.logo{
    display: inline;
}
fieldset {
    width: 100%;
    padding: 0 1.4em 1.4em 1.4em ;
    margin: 0 0 1.5em 0 ;
}
.ui-selectmenu-button{
    margin-bottom: 10px;
    width:70% !important;
    float:right;
}
.row-title{
    font-size: 2rem;
    color:#2ea3f2;
    display: inline;
    width:30% !important;
    font-weight: bold;
}
.row-content {
    display: inline;
    font-size: 2rem;
    float:right;
}
.zenity-brand{
  color:#6d94b4;
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
}
.row .metadata{
    padding-bottom: 10px;
}
#datepicker{
    margin-left: 25px !important;
}
.select-base {
    background: black;
    padding-top:150px !important;
}
#db-logo {
    height: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fieldset-center{
    margin-top: 36px;
}
#datepicker{
    margin-right: 15px;
}
.text-center{
    display:inline-block;
    margin-right: auto;
    margin-left: auto;
}
#select-report-form{
    background-color: #ddd;
    height:80vh;
    border-top: solid 1px #6d94b4;
    position: relative;
}
.form-box-container{
  font-size: 2rem;
  margin-top: 150px;
  background-color: white;
  border-radius: 5px ;
  border: 2px solid #2ea3f2 !important;
}
