<tr class="information-row" {{#if id}} id="{{id}}" {{/if}} {{#if color}} style="color: {{color}}" {{/if}}>
    {{#if title}}
        <th scope="row">{{title}}</th>
    {{/if}}
    {{#each content}}
        <td>{{{this}}}</td>
    {{/each}}
</tr>