<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th >{{ date }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{#each elements}}
            <tr>
                <th>{{@key}}</th>
                <td>{{this}}</td>
            </tr>
        {{/each}}
        </tbody>

    </table>
</div>