<form id ="login-form" action="javascript:void(0)">
    <div class="form-group">
        <label for="username">USERNAME</label>
        <input type="text" id="username" name="username" value="" />
    </div>
    <div class="form-group">
        <label for="password">PASSWORD</label>
        <input class="password" type="password" id="password" name="password"  />
    </div>
    <div id="register-area"  >
        <div class="form-group">
            <label for="password-confirm">CONFIRM PASSWORD</label>
            <input class="password" type="password" id="password-confirm" name="password-confirm"  />
        </div>
        <div class="form-group">
            <label for="email">EMAIL</label>
            <input  type="email" id="email" name="email"  />
        </div>
        <div class="form-group">
            <label for="email-confirm">CONFIRM EMAIL</label>
            <input type="email" id="email-confirm" name="email-confirm" autocomplete="nope"/>
        </div>

        <div class="form-group">
            <label for="company-name">COMPANY NAME</label>
            <input type="text" id="company-name" name="company-name"  />
        </div>
        <div id="gdpr">
            <input type="checkbox" id="gdpr-box" name="gdpr"/>
            <span >
            En soumettant ce formulaire, j’accepte que mes données soient utilisées et conservées par NEXT TECH dans le cadre de l’utilisation du service ZENITY et de la relation commerciale qui pourrait en découler 
            </span>
        </div>
    </div>
    <div class="button-group">
        <button id="login-button" class="login-button" type="submit" onclick="login('username','password') ">login</button>
        <button id="register-button" class="login-button" type="submit" onclick="switchToRegister('username','password') ">Create account</button>
    </div>
</form>
