
<div class="panel panel-primary dont-break cloud-container">
    <div class="panel-heading" > CLOUD ESTIMATOR - PAAS<br /><span class="vcpu-count-container">Base de calcul : <span id="cloud-cpu-count"></span></span></div>
    <div class="panel-body">
        <div id="tothecloud-paas-container"><!-- template displayed here --></div>
    </div>
    <div class="footer">
        Vous souhaitez plus d'information ? <a href="mailto:contact@nexttech.fr">contact@nexttech.fr</a></span>
    </div>
</div>
 