<div class="pagebreak"></div>
<div class="panel panel-primary dont-break">
    <div class="panel-heading" id="EfficiencyIndicator">Indicateur de performances</div>
    <div class="panel-body">
        <div id="bufferHit"></div>
        <div id="cpuToParse"></div>
        <div id="execToParse"></div>
        <div id="latchHit"></div>
        <div id="libraryHit"></div>
        <div id="nonParseCpu"></div>
        <div id="optimalWa"></div>
        <div id="redoNoWait"></div>
        <div id="softParse"></div>
    </div>
    <div class="panel-footer"></div>
</div>

<!--
<script>
    charty.generateTemplate('bufferHit', 'EfficiencyIndicator/BufferHit');
    charty.generateTemplate('cpuToParse', 'EfficiencyIndicator/CpuToParse');
    charty.generateTemplate('execToParse', 'EfficiencyIndicator/ExecToParse');
    charty.generateTemplate('latchHit', 'EfficiencyIndicator/LatchHit');
    charty.generateTemplate('libraryHit', 'EfficiencyIndicator/LibraryHit');
    charty.generateTemplate('nonParseCpu', 'EfficiencyIndicator/NonParseCpu');
    charty.generateTemplate('optimalWa', 'EfficiencyIndicator/OptimalWa');
    charty.generateTemplate('redoNoWait', 'EfficiencyIndicator/RedoNoWait');
    charty.generateTemplate('softParse', 'EfficiencyIndicator/SoftParse');
    /**/
</script>
<!---->
