
<div class="panel panel-primary dont-break">
    <div class="panel-heading" id="SQL">SQL</div>
    <div class="panel-body">
        <div id="requestMemory"></div>
        <div id="topRequestByCpu"></div>
        <div id="topRequestByGets"></div>
        <div id="topRequestByReads"></div>
        <div id="sqlRequestExecutedOverOne"></div>
        <div id="topRequestByElapTime"></div>
        <div id="topRequestByExec"></div>
        <div id="topRequestByWaitTime"></div>
    </div>
    <div class="panel-footer"></div>
</div>

