<ul class="scrollable-list-75">
    {{#each this}}
        <li><input type="checkbox" name="clients[]" 
        {{#if owned}}
            checked 
        {{/if}} 
        value="{{ id }}"> {{name}} </li>
    {{/each}}
</ul>
