<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Zenity{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block menu %}{% endblock %}

{% block body %}
    {% block banner %}{% endblock %}
    {% block subMenu %}{% endblock %}
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('config.js') }}"></script>
{% endblock %}
</body>
</html>
