parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: zenityService
    database_user: root
    database_password: ???Nexttech2018???
    mailer_transport: smtp
    mailer_encryption: tls
    mailer_auth_mode: login
    mailer_host: smtp.office365.com
    mailer_port: 587
    mailer_user: noreply@nexttech.fr
    mailer_default_sender: noreply@nexttech.fr
    mailer_auth_mode: login
    mailer_encryption: tls
    mailer_password: Qualora2017
    secret: c338eb59868220dcda6f0153dbe0c54c41bda8998s8d5e24c884327ef31283a27sd4ad3668be07b335fb73810e0036b991c87bf8ba413ac5f84d775bf8bfed81356
    url: 'http://127.0.0.1:8101/webService'
    appli_url: 'http://127.0.0.1:8101/'
    logsDir: /home/renj/workspace/zenity/logs/
    baseDir: /home/zenity/zenity/
    snapshot_reading.script_name: statspackReading.py
    snapshot_reading.script_localisation: /home/zenity/zenity/parsing/
    snapshot_baseDir: /home/zenity/zenity/snapshots/
    encryption_algorithm: sha512
    snapshot_doneDir: /home/zenity/zenity/snapshots-done/
    snapshot_trashDir: /home/zenity/zenity/snapshots-trash/
    snapshot_zip_archive: /home/zenity/snapshot_archive/
    test_rebuild_command: /home/zenity/zenity/scripts/create_test_sample.sh
