<select class="list-class" name="class" onChange="classListUpdate(this);">

    {{#if noClass }}
        <option disabled selected value
        >
            select a class
        </option>
    {{/if}}
    {{#each class }}

        <option
                value="{{name}}"
            {{#selected}}
                selected
            {{/selected}}
        >
            {{name}}
        </option>
    {{/each}}
</select>