<select class="list-parameter" name="filterList" onchange="filterListUpdate(this)">
        <option selected value
        >
            Filter
        </option>
    {{#each filter }}
        <option
                value="{{name}}"
                {{#selected}}
                    selected
                {{/selected}}
        >
            {{name}}
        </option>
    {{/each}}
</select>
