<tr class="indicator" id ="indicator-{{ id }}">
    <td class="coeffInput">
        <input value="{{ coeff }}" class="coeff" type="number" min="0" max="1000" width="3" name="coeff" onchange="updateCoeff(this)">
    </td>
    <td class ="classList">
        {{> classList }}
    </td>

    <td class="propertyList">
        {{> propertyList }}
    </td>
    {{#unless isAvg}}
    <td class="propertyInput">
        {{> propertyInput }}
    </td>
    {{/unless}}
    <td class="filterList">
        {{> filterList }}
    </td>
    <td class="filterInput">
        {{> filterInput }}
    </td>
    <td>
        <button class="" type="button" onclick="deleteIndicator('indicator-{{ id }}')">Supprimer l'indicateur</button>
    </td>
</tr>