<select class="list-parameter" name="propertyName" onChange="propertyListUpdate(this);">
        <option disabled selected value
        >
            select a property
        </option>
    {{#each property }}
        <option
                value="{{name}}"
            {{#selected}}
                selected
            {{/selected}}
        >
            {{name}}
        </option>
    {{/each}}
</select>
