
<form class="note-form form-inline" id="note-form">
    <div id='notes'>
        {{#each note}}
            {{> note }}
        {{/each}}
    </div>
    <button id="add-note-button" type="button" onclick="addNote('notes')">Ajouter une Nouvelle Note</button>
    <button id="submit-update-button" type="button">Mettre a jour le moteur de note</button>
</form>