.list-parameter{
}
.list-class{
}
.coeff{
}
.double-input{
    display: inline-block;
    width:45%;
}
table {
    width : 100%;
}
.mono-input{
}
#add-note-button{
    width:100%;
    font-size: 2em;
    background-color:#808080;
    color:black;
    border-radius: 15px;
}
#submit-update-button{
    width:100%;
    font-size: 2em;
    background-color:#882222;
    color:white;
    border-radius: 15px;
}
.note-name{
    font-size: 2em;
    outline: none;
    border: none;
    color: darkred;
    background-color: #aaaaaa;
    border-radius: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.note-form .panel-heading{
    background-color:#9d9d9d ;
    border-radius: 15px;

}

.note-form .panel-body{
    background-color:#e0e0e0;
}
.note-form .panel-footer{
    background-color:#9d9d9d;
}