/**
 * Created by simonvivier on 24/03/17.
 */
let WEB_SERVICE_URL = "http://127.0.0.1:8002/api";
let PASSWORD_PATTERN = ".*";//"(?=^.{7,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";//Password (UpperCase, LowerCase, Number/SpecialChar and min 8 Chars)
//let encrypt = SHA512;
