<form id="add-account-form" title="client" action="{{ path('gestion-createUser') }}">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-4"> UserName: </div>
                <div class="col-sm-8"><input title="userName" name="userName" type="text"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"> Email: </div>
                <div class="col-sm-8"><input title="email" name="email" type="text"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"> Password: </div>
                <div class="col-sm-8"><input id='password' title="password" name="password" type="password"></div>
            </div>
        </div>
        <div id="client-chexboxes"></div>
    </div>
    <div class="row text-center"><button type="submit">Ajouter</button></div>
</form>
