<div class="container" id="scheduleDate-dialog" hidden>
    <div class="row">
        <div class="col-lg-6">
            date de recalcul de la note :
        </div>
        <div class="col-lg-6">
            <input id="scheduleDate-input" title="scheduledDate" name="scheduledDate" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            pour une période de :
        </div>
        <div class="col-log-6">
            <select class="expended"
              id="recalculationPeriod-select"
              title ="période de recalcul de la note"
              name="recalculationPeriod" >
                <option value="15 day" selected="selected">15 jours</option>
                <option value="1 months">1 mois</option>
                <option value="2 months">2 mois</option>
                <option value="3 months">3 mois</option>
                <option value="6 months">6 mois</option>
                <option value="1 years">1 ans</option>
                <option value="all">Tout les snapshots </option>
            </select>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <button class="ui-button ui-widget ui-corner-all" id="schedule-button">schedule </button>
    </div>
</div>
