{% extends 'gestion/homePage.html.twig' %}

{% block title %}Gestion des logs{% endblock %}
{% block body %}
    {{ parent() }}
    <ul>
        {% for log in logs %}
            <li>
                <a href="{{ log.link }}">{{ log.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
