<div class="paas">
    <div class="row">
    {{#each this}}
        <div class="col-md-3">
            <div class="provider-name">{{providerName}}</div>
            <div class="instance-name">{{@key}}</div>
            <div class="{{#if minimum}}minimum-price{{/if}} cloud-price ">{{total}} $</div>
        </div>
    {{/each}}
     </div>
</div>  